* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main{
    background: url('https://images.pexels.com/photos/2088142/pexels-photo-2088142.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.buscador {
	margin-top: 6em;
}

#resultado {
	margin: 3em;
}



.clima {
    color: #7209B7;
    text-shadow: #F72585 1px 0 10px;
    text-align: center;
    padding-top: 4em;
}
 
h2 {
	margin-top: 5em;
	font-size: 18px;

}
.title {
	font-size: 25px;
	margin-top: 4em;
}

.busquedas {
	margin-top: 1em;
	margin-left: 4em;
	margin-bottom: 5em;
	padding: 4%; 
	color: #560BAD;
	text-shadow: #4895EF 1px 0 10px;
}

#busquedasanteriores {

  min-width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  margin-right: 10px

}



/*https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0*/
